.btn{
    border: 2px solid black;
    width: 100px;
    height: 40px;
    background-color: aqua
    (0, 255, 255);


}

.submit{
    border-radius: 20px
}

li{
    width:300px;
    background-color: cadetblue ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}